NODE_ENV="dev"

CORS_FRONTEND_URL="http://localhost:5173"

PG_HOST=""
PG_PORT=""
PG_USER=""
PG_PASSWORD=""
PG_NAME=""

REDIS_URL="redis://localhost:6375"

S3_ENDPOINT=""
S3_REGION=""
S3_BUCKET=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""

PG_BACKUP_FREQUENCY="0 4 * * *" #0 4 * * *
CLEANUPPENDING_FREQUENCY="*/10 * * * *" #раз в 10мин
SYNCRONIZATION_DB_S3_FREQUENCY="0 2 * * *" #каждый день в 2 утра по мск 0 2 * * *
ABORTUPLOADS_FREQUENCY="0 * * * *" #* */1 * * *

CLEANUPPENDING_PERIOD_MS="600000" #10*60*1000
SYNCRONIZATION_DB_S3_PERIOD_MS="86400000" #24*60*60*1000